[DEFAULT]
user=ocid1.user.oc1..aaaaaaaaddbdrh24taybs4jtbynccivdw43tspo3agxqk5bzfiojd6m5ba2q
fingerprint=8c:54:92:37:66:3a:82:c0:fb:9a:eb:f5:66:4e:bb:31
tenancy=ocid1.tenancy.oc1..aaaaaaaalawrotwyw5alj3s3eno5jccmevj4yqnmgnltqk2omnckccbw37la
region=ap-hyderabad-1
key_file=C:/Users/Dell/Desktop/oci/apikeys/rajendramallina@gmail.com_2022-07-05T16_21_03.087Z.pem